# My Jupiter Notebook On Skills Network Lab

# Muhammad Haroon Saeed
# final Year Chemical Engineering Student(Aiming to become a Data Scientist as Well)

*I am Interested in Data Science Because i want to combine chemical engineering and deep learning to do those things which usually requires human intervention in chemical production plants*

# My Code Is Supposed to load a simple data in R

In [13]:
install.packages("palmerpenguins")
library(palmerpenguins)
head(penguins)

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 NA     2007
5 female 2007
6 male   2007

In [ ]:
1.This dataset collected through a survey of penguins in palmer reg
2.It contains information about species,flipper length,bodymass,etc
3.This datacan be analyed thorugh beautiful visualization